<h1><%= @test.title %></h1>
<%= button_to t('page_questions.create_new_question'), new_test_question_path(@test), method: :get %>

<h3><%=t('page_questions.all_questions')%></h3>

<% @questions.each do |question| %>
  <p><%= question.body %></p>
  <%= link_to t('global.show'), question_path(question, test_id: @test) %>
  <%= link_to t('global.delete'), question_path(question, test_id: @test), method: :delete,
                                           data: { confirm: t('global.confirm') } %>
<% end %>
