<% provide(:title, t('.profile')) %>

<div class="center">
  <h1><%= t('.profile') %></h1>
</div>
<br>
<h4><b> Name </b></h4>
<p><%= "#{current_user.first_name} #{current_user.last_name}" %></p>

<h4><b> Email </b></h4>
<p><%= current_user.email %></p>

<h4><b><%= t('.count_tests_passed') %></b></h4>
<p><%= current_user.tests_passed.count %></p>
