<% provide(:title, t('page_users.profile')) %>

<div class="center">
  <h1><%= t('page_users.profile') %></h1>
</div>
<br>
<h4><b> Name </b></h4>
<p><%= @current_user.name %></p>

<h4><b> Email </b></h4>
<p><%= @current_user.email %></p>

<h4><b><%= t('page_users.count_tests_passed') %></b></h4>
<p><%= @current_user.tests_passed.count %></p>
