<h1><%= @question.test.title %></h1>

<%= button_to t('page_questions.show_all_questions'), admin_test_path(@question.test),
                                                      method: :get, class: 'btn btn-primary' %>
<br>
<table class="table">
  <tr>
    <td style='font-size: 18px'><%= @question.body %></td>
    <td>
      <%= link_to t('global.edit'), edit_admin_question_path(@question) %> |
      <%= link_to t('global.delete'), admin_question_path(@question), method: :delete,
                                                                data: { confirm: t('global.confirm') }, class: 'red' %>
    </td>
  </tr>
</table>

<h2><%= t('page_answers.answers') %> </h2>

<%= button_to t('page_answers.create_answer'), new_admin_question_answer_path(@question),
                                               method: :get, class: 'btn btn-primary' %>
<br>
<table class="table">
  <%= render @question.answers %>
</table>
