<% provide(:title, t('page_tests.all_tests')) %>

<h1><%= t('page_tests.all_tests') %></h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th><%= t('page_tests.test') %></th>
      <th><%= t('page_tests.level') %></th>
      <th><%= t('page_tests.category') %></th>
      <th><%= t('page_tests.amount_questions') %></th>
      <th><%= t('global.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
