<% provide(:title, t('.all_tests')) %>

<h1><%= t('.all_tests') %></h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th><%= t('.test') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.amount_questions') %></th>
      <th><%= t('global.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
