<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="admin_panel">
        <h4>TestGuru Admin Panel</h4>
      </div>
      <%= flash_message(message_type: :success) %>
      <%= flash_message(message_type: :danger) %>
      <%= flash_message(message_type: :notice) %>
      <%= flash_message(message_type: :alert) %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
